body {
    background-image: url('https://wallpaperaccess.com/full/317501.jpg');
    text-align: center;
}
h1 {
    color: aliceblue;
    font-size: 50px;
    margin: 0;
}
#surveyform {
    background-color: rgba(48, 154, 51, 0.5);
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    color: cadetblue;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#name {
    background-color: antiquewhite;
    border-color: black;
    border-radius: 2px;
}
#email {
     background-color: antiquewhite;
    border-color: black;
    border-radius: 2px;
}
#number {
     background-color: antiquewhite;
    border-color: black;
    border-radius: 2px;
}
select {
     background-color: antiquewhite;
    border-color: black;
    border-radius: 2px;
}
textarea {
     background-color: antiquewhite;
    border-color: black;
    border-radius: 2px;
    width: 250px;
    height: 100px;
}
button {
    color: white;
    background-color: green;
    width: 300px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
    border-color: black;
}